header {
  .header-navigation-list {
    &-text {
      font-weight: 600;
      font-size: 18px;
    }
  }

  .header-nav-content {
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.2);
    color: white;

    .brand-text {
      color: inherit;
      text-decoration: none;
      font-family: $font-red-hat;
      font-weight: bold;
      margin-left: 8px;
      font-size: 36px;
    }
  }

  .header-top-brand {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    font-family: $font-red-hat;
  }
}

.mobile-brand-text {
  color: white !important;
}

@media #{$media-sm} {
  header {
    .header-nav-content {
      .brand-text {
        font-size: 28px;
      }
    }
  }
}
