@keyframes categoryScrollIcon {
  from {
    bottom: 40px;
  }
  to {
    bottom: 15px;
  }
}

.products-layout {
  .products {
    padding-top: 10rem;

    &-header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      column-gap: 8px;
      margin-bottom: 6rem;

      h2 {
        font-family: $font-pp-neue;
        font-size: 78px;
        line-height: 78px;
        text-transform: uppercase;
        color: #0c2d57;
        display: flex;
        flex-direction: row;

        &::after {
          content: '|';
          display: inline-block;
          margin-left: 8px;
        }
      }

      p {
        font-family: $font-pp-neue;
        font-size: 18px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.6);
        padding-left: 14px;
      }
    }

    &-content {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      &-sidebar {
        padding: 0 8px;
        width: 370px;
        min-height: 600px;
        flex-grow: 1;
        position: relative;

        &-title {
          font-size: 24px;
          font-family: $font-pp-neue;
          font-weight: bold;
          padding-bottom: 8px;
        }

        &-caregory-list {
          margin-top: 10px;
          overflow-y: auto;
          max-height: 770px;

          li {
            button {
              all: inherit;
              cursor: pointer;
              position: relative;
              width: 100%;
              height: 170px;

              img {
                object-fit: cover;
                object-position: center;
              }

              .category-name {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                color: $color-white;
                padding: 4px 8px;
                text-align: center;
                font-family: $font-pp-neue;
                font-size: 18px;
                line-height: 26px;
                backdrop-filter: blur(3px);
                // background-color: rgba(0, 90, 94, 0.5);
                background-color: rgba(0, 0, 0, 0.5);
                font-weight: bold;
                letter-spacing: 1px;

                transition: all 200ms ease-in-out;

                &.active {
                  // background-color: rgba(2, 173, 10, 0.1);
                  background-color: rgba(0, 0, 0, 0.4);
                  backdrop-filter: blur(0px);
                  color: #e8c872;
                  border: 4px solid #fde767;
                }
              }
            }

            &:not(:last-child) {
              margin-bottom: 8px;
            }
          }
        }

        .category-down-icon {
          position: absolute;
          transform: translateX(-50%);
          bottom: 40px;
          left: 47%;
          z-index: 1;
          color: #fde767;
          font-size: 44px;
          filter: drop-shadow(0 0 12px black);
          animation: categoryScrollIcon 1s ease-in-out infinite alternate;
          pointer-events: none;
        }
      }

      &-product-list {
        width: 100%;
        display: flex;
        flex-direction: column;

        &-filter {
          height: 34px;

          button {
            all: inherit;
            font-size: 16px;
            line-height: 20px;
            font-family: $font-red-hat;
            padding: 2px 8px;
            border-radius: 8px;
            margin-left: auto;
            margin-right: 24px;
            transition: all 100ms ease-in-out;
            cursor: pointer;
            font-weight: bold;
          }
        }

        &-products {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          row-gap: 8px;
          column-gap: 8px;
        }
      }

      &-right-info {
        padding: 0 8px;
        width: 370px;

        h5 {
          font-size: 24px;
          font-family: $font-pp-neue;
          font-weight: bold;
          padding-bottom: 8px;
          text-transform: capitalize;
        }

        p {
          font-size: 18px;
          line-height: 20px;
          font-family: $font-red-hat;
        }
      }
    }
  }
}

.products-preview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 60%;
    bottom: 0;
    z-index: 2;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  }

  &-image {
    position: relative;
    width: 100%;
    height: 270px;

    &-title {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
      color: $color-white;
      font-size: 18px;
      font-family: $font-pp-neue;
      line-height: 24px;
      background-color: rgba(0, 0, 0, 0.4);
      padding: 8px 0;
      text-align: center;
      backdrop-filter: blur(44px);
    }

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &-button {
    position: absolute;
    transform: translateX(-50%);
    bottom: 10%;
    left: 50%;
    z-index: 3;

    button {
      all: inherit;
      font-size: 28px;
      line-height: 44px;
      text-transform: uppercase;
      font-family: $font-pp-neue;
      font-weight: bold;
      letter-spacing: 2px;
      text-wrap: nowrap;
      padding: 12px 16px 6px 16px;
      background-color: rgba(0, 0, 0, 0);
      color: #1f2544;
      border: 2px solid black;
      backdrop-filter: blur(4px);
      cursor: pointer;
      transition: all 200ms ease-in-out;

      &:hover {
        backdrop-filter: blur(0px);
      }
    }
  }
}

@media #{$media-xl} {
  .products-layout {
    .products {
      &-content {
        &-right-info {
          display: none;
        }
      }
    }
  }
}

@media #{$media-md} {
  .products-layout {
    .products {
      &-header {
        h2 {
          font-size: 66px;
          line-height: 66px;
        }

        p {
          font-size: 16px;
          line-height: 20px;
        }
      }

      &-content {
        &-sidebar {
          width: 320px;

          &-title {
            font-size: 22px;
          }
        }
      }
    }
  }

  .products-preview {
    &-image {
      height: 230px;

      &-title {
        font-size: 16px;
        line-height: 22px;
      }
    }

    &-button {
      button {
        font-size: 24px;
        line-height: 38px;
        padding: 8px 16px 4px 16px;
      }
    }
  }
}

@media #{$media-sm} {
  .products-layout {
    .products {
      padding-top: 4rem;

      &-header {
        flex-direction: column;
        align-items: center;
        column-gap: 0;
        row-gap: 16px;
        margin-bottom: 4rem;
        h2 {
          font-size: 32px;
          line-height: 32px;
          border-bottom: 2px solid #0c2d57;

          &::after {
            display: none;
          }
        }

        p {
          text-align: center;
        }
      }

      &-content {
        flex-direction: column;

        &-sidebar {
          width: 100%;
          min-height: auto;
          &-caregory-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            li {
              padding: 1px;
              button {
                height: 120px;
                .category-name {
                  font-size: 14px;
                  line-height: 18px;
                  font-weight: normal;
                  letter-spacing: 0;
                }
              }

              &:not(:last-child) {
                margin-bottom: 0;
              }
            }
          }

          .category-down-icon {
            display: none;
          }
        }

        &-product-list {
          &-filter {
            height: 34px;

            button {
              margin-right: 8px;
              font-weight: bold;
            }
          }

          &-products {
            grid-template-columns: repeat(2, 1fr);
          }
        }
      }
    }
  }

  .products-preview {
    grid-template-columns: repeat(2, 1fr);
    &-image {
      height: 170px;
    }

    &-button {
      button {
        font-size: 20px;
        line-height: 28px;
        padding: 6px 16px 2px 16px;
      }
    }
  }
}

@media #{$media-es} {
  .products-layout {
    .products {
      &-content {
        &-sidebar {
          &-caregory-list {
            grid-template-columns: repeat(2, 1fr);
          }
        }
      }
    }
  }

  .products-preview {
    grid-template-columns: repeat(1, 1fr);
  }
}
