@keyframes pageDownAnim {
  from {
    bottom: 70px;
  }

  to {
    bottom: 50px;
  }
}

.welcome-banner {
  position: relative;
  height: calc(100vh - 134px);
  width: 100%;
  overflow: hidden;
  transition: height 999999s;
  // top: -84px;

  // &::after {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   bottom: 0;
  //   right: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(0, 0, 0, 0.2);
  // }

  .video-react {
    height: 100% !important;
    width: 100%;
    video {
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
      -webkit-filter: brightness(0.7);
      filter: brightness(0.7);
    }

    .video-react-poster {
      background-size: cover !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
    }

    .video-react-button,
    .video-controls-bar {
      display: none !important;
      pointer-events: none !important;
    }
  }

  &-content {
    padding: 48px;
    position: absolute;
    transform: translateY(-50%);
    top: 60%;
    left: 50px;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    color: $color-white;
    z-index: 2;

    &-title {
      font-size: 42px;
      line-height: 52px;
      font-family: $font-pp-neue;
    }

    &-text {
      font-size: 22px;
      line-height: 26px;
      font-family: $font-red-hat;
    }
  }

  &-down-icon {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 44px;
    color: $color-white;
    animation: pageDownAnim 1s ease-in-out infinite alternate;
  }
}

@media #{$media-2xl} {
  .welcome-banner {
    &-content {
      max-width: 50%;
    }
  }
}

@media #{$media-xl} {
  .welcome-banner {
    height: calc(100dvh - 134px);

    &-content {
      max-width: 60%;
      transform: translateY(-50%);
      top: 30%;
      left: 0;
    }
  }
}

@media #{$media-md} {
  .welcome-banner {
    height: calc(100dvh - 132px);

    &-content {
      max-width: 80%;

      &-title {
        font-size: 38px;
        line-height: 44px;
      }
    }
  }
}

@media #{$media-sm} {
  .welcome-banner {
    &-content {
      max-width: 70%;
      transform: translateY(-50%);
      top: 40%;
      left: 0;

      &-title {
        font-size: 26px;
        line-height: 32px;
      }

      &-text {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
}

@media #{$media-xs} {
  .welcome-banner {
    &-content {
      max-width: 100%;

      &-title {
        font-size: 20px;
        line-height: 24px;
      }

      &-text {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}
